:root.theme-light {
	--page-img-bg: url('../images/cover-image-light.png');
	--primary-color: #353430;
	--secondary-color: #ff8dcb;
	--accent-color: #ffc2e6;
	--page-bg-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
	:root {
		--page-img-bg: url('../images/cover-image-light.png');
		--primary-color: #353430;
		--secondary-color: #ff8dcb;
		--accent-color: #ffc2e6;
	}
}

.theme-light .page {
	.header__theme-menu-button,
	.section-title {
		color: var(--primary-color);
	}

	.header__theme-menu-button:hover,
	.header__theme-menu-button_active {
		border-color: var(--primary-color);
	}
	.header__theme-menu-button:focus-visible {
		border-bottom-color: var(--primary-color);
	}

	.decorated-zone::before {
		border-top: 1px solid var(--primary-color);
		border-right: 1px solid var(--primary-color);
	}

	.decorated-zone::after {
		border-bottom: 1px solid var(--primary-color);
		border-left: 1px solid var(--primary-color);
	}

	.header__rec {
		display: none;
	}
}
