:root.theme-light {
	--page-img-bg: url('../images/cover-image-light.png');
	--border-btn-hover: #32312d66;
	--text-color: #353430;
	--decor-color: #ff8dcb;
	--title-color: #ffc2e6;
	--footer-shadow-color: #ff0070;
	--accent-text-color: var(--text-color);
	--menu-btn-color: var(--text-color);
	--accent-color: var(--text-color);
	--text-shadow-link-color: var(--decor-color);
	--corners-color: var(--text-color);
}

@media (prefers-color-scheme: light) {
	:root {
		--page-img-bg: url('../images/cover-image-light.png');
		--border-btn-hover: #32312d66;
		--text-color: #353430;
		--decor-color: #ff8dcb;
		--title-color: #ffc2e6;
		--footer-shadow-color: #ff0070;
		--accent-text-color: var(--text-color);
		--menu-btn-color: var(--text-color);
		--accent-color: var(--text-color);
		--text-shadow-link-color: var(--decor-color);
		--corners-color: var(--text-color);
	}
}

.theme-light .page {
	.header__rec {
		display: none;
	}
}
