.page {
	color: var(--primary-color);
	font-family: 'IBM Plex mono', Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 130%;
	font-size: 1.125rem;
	background-color: var(--page-bg-color);
	background: var(--page-img-bg),
		url('../images/cover-image.png') no-repeat center / cover;
	background-attachment: fixed;
}

.text-decor {
	color: var(--accent-color);
	text-shadow: 4px 4px 0 var(--secondary-color);
}

.text-accent {
	color: #000028;
	background: var(--secondary-color);
}

.link {
	display: inline-block;
	border-bottom: 1px solid transparent;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	text-decoration: none;
	text-shadow: 2px 2px 0 var(--secondary-color);
	transition: border 0.3s;
	cursor: pointer;
}

.link:hover {
	border-color: currentColor;
}

.link:focus {
	outline: none;
}

.link:focus-visible {
	outline: 1px solid currentColor;
}

.header {
	display: grid;
	grid-template-rows: repeat(5, min-content);
	padding: 0.625rem;
	block-size: 100vh;
	min-block-size: 668px;
}

.decorated-zone::after,
.decorated-zone::before {
	content: '';
	display: inline-block;
	inline-size: 1.5625rem;
	block-size: 1.5625rem;
}

.decorated-zone::before {
	margin-inline-start: auto;
	border-top: 1px solid var(--secondary-color);
	border-right: 1px solid var(--secondary-color);
}

.decorated-zone::after {
	border-bottom: 1px solid var(--secondary-color);
	border-left: 1px solid var(--secondary-color);
}

.header__rec {
	position: absolute;
	top: 10px;
	right: 19px;
	display: flex;
	align-items: center;
	gap: 0.625rem;
	color: var(--secondary-color);
	text-transform: uppercase;
}

.header__rec::after {
	content: '';
	display: inline-block;
	border-radius: 50%;
	box-shadow: 0 0 4px 2px var(--secondary-color);
	background-color: var(--secondary-color);
	inline-size: 0.5625rem;
	block-size: 0.5625rem;
}

.header__theme-menu {
	margin-block: 0 4.125rem;
}

.header__theme-menu-list {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 0.625rem;
}

.header__theme-menu-button {
	border: 1px solid transparent;
	padding-inline: 0.75rem;
	padding-block: 0.1875rem;
	color: var(--secondary-color);
	line-height: 100%;
	text-transform: lowercase;
	background-color: transparent;
	transition: color 0.3s, border-color 0.3s;
	cursor: pointer;
}

.header__theme-menu-button:hover,
.header__theme-menu-button_active {
	border-color: var(--secondary-color);
}

.header__theme-menu-button:focus {
	outline: none;
}

.header__theme-menu-button:focus-visible {
	border-bottom-color: var(--secondary-color);
}

.header__theme-menu-button_active {
	pointer-events: none;
}

.main-title {
	font-weight: 700;
	font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
	line-height: 83%;
	text-transform: lowercase;
}

.header__title {
	margin-block-end: 3.375rem;
}

.header__text-inner {
	margin-block-end: 1.875rem;
}

.header__text {
	font-weight: 700;
	font-size: inherit;
	line-height: inherit;
}

.header::before {
	margin-block-end: 2.5rem;
}

.main {
	padding-block: 2.5rem;
}

.section-content {
	padding-inline: 0.625rem;
	padding-block-end: 3.125rem;
}

.section-title {
	margin-block: 0 1.25rem;
	color: var(--secondary-color);
	font-size: inherit;
	line-height: inherit;
}

.section-list {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.section-item__title {
	margin-block: 0 0.625rem;
	font-size: inherit;
	line-height: inherit;
}

.how-to-concentrate__subtitle {
	margin-block: 0 1.25rem;
	font-size: inherit;
	line-height: inherit;
}

.how-to-concentrate__list-item:has(> .section-item__title)
	.section-item__title {
	font-weight: 400;
}

.gallery {
	padding-inline: 0.625rem;
}

.gallery__title {
	margin-block: 0 0.625rem;
	font-size: inherit;
	line-height: inherit;
}

.gallery__inner {
	display: grid;
	gap: 0.625rem;
}

.gallery__image {
	object-fit: cover;
	object-position: center;
	inline-size: 100%;
	block-size: 100%;
}

.footer {
	position: relative;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	padding-inline: 0.625rem;
	padding-block: 0.625rem;
	block-size: 100vh;
	min-block-size: 668px;
}

.footer__title {
	justify-self: center;
	align-self: center;
	color: var(--accent-color);
	text-shadow: 2px 2px 0 var(--secondary-color);
}

@media (width >= 768px) {
	.main-title {
		font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	}

	.header {
		grid-template-columns: repeat(3, 1fr);
		padding-inline: 1.25rem;
		padding-block: 1.25rem;
		min-block-size: 1024px;
	}

	.header::before {
		grid-column: 3;
		grid-row: 1;
		margin-block-end: 9.125rem;
	}

	.header__theme-menu {
		grid-column: 3;
		grid-row: 2;
		margin-block-end: 10.75rem;
	}

	.header__title {
		grid-column: span 4;
		grid-row: 3;
		margin-block-end: 10.125rem;
		transform: translateX(-1.25rem);
	}

	.header__text-inner {
		grid-column: 2/4;
		grid-row: 4;
		justify-self: end;
		margin-block-end: 8.625rem;
		max-inline-size: 22.75rem;
	}

	.header::after {
		grid-column: 1;
		grid-row: 5;
	}

	.header__rec {
		top: 20px;
		right: 29px;
	}

	.main {
		padding-block: 3.75rem;
	}

	.section-content {
		display: grid;
		grid-template-columns: 14.75rem 1fr;
		column-gap: 1.25rem;
		padding-inline: 1.25rem;
		padding-block-end: 5rem;
	}

	.what-attention {
		grid-template-rows: repeat(2, min-content);
		gap: 0;
	}

	.what-attention__title {
		grid-column: 1;
	}

	.what-attention__list {
		grid-column: 1/3;
		grid-row: 2;
	}

	.how-to-concentrate__title {
		grid-row: 1/3;
	}

	.gallery {
		padding-inline: 1.25rem;
	}

	.gallery__title {
		margin-block: 0 1.25rem;
	}

	.gallery__inner {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		justify-self: center;
		gap: 1.25rem;
		max-block-size: 48.75rem;
	}

	.gallery__image:nth-child(1) {
		grid-column: 1/3;
		grid-row: 1;
	}

	.gallery__image:nth-child(2) {
		grid-column: 3;
		grid-row: 1 / 3;
	}

	.gallery__image:nth-child(3) {
		grid-column: 1;
		grid-row: 2 / 4;
	}

	.gallery__image:nth-child(5) {
		grid-column: 2 / 4;
		grid-row: 3;
	}

	.footer {
		padding-inline: 1.25rem;
		padding-block: 1.25rem;
		min-block-size: 1024px;
	}
}

@media (width >= 1024px) {
	.header {
		min-block-size: 48rem;
	}

	.header__theme-menu {
		grid-column: 2;
		grid-row: 1;
		margin-block-end: 16.875rem;
	}

	.header__theme-menu-list {
		flex-direction: row;
		justify-content: center;
	}

	.header::before {
		margin-block-end: 0;
	}

	.header__title {
		margin-block-end: 7.125rem;
	}

	.header__text-inner {
		margin-block-end: 5.625rem;
		max-inline-size: 490px;
	}

	.section-content {
		grid-template-columns: 19.75rem 1fr;
	}

	.what-attention__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.gallery__inner {
		max-block-size: 65.5rem;
	}

	.footer {
		min-block-size: 768px;
	}
}
